@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --main-bg: #e6e1d6;
  --form-bg: #fff;
  --secondary-color: #00fe82;
  --third-color: #141824;
  --fourth-color: #2a3449;
  --form-focus: #6178aa;
  --accent-color: #ffb200;
  --text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: var(--main-bg);
  display: flex;
  justify-content: space-between;
  padding: 30px 80px 30px 80px;
}

.live {
  background-color: var(--third-color);
  padding: 25px;
  color: var(--secondary-color);

  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.preview {
  font-family: 'Lato', sans-serif;
}

.general-info {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.general-info h2 {
  color: var(--text-color);
  border-bottom: 2px dashed var(--form-focus);
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-1-col-2 {
  display: flex;
  column-gap: 50px;
}

.col-2 textarea {
  resize: none;
  outline: none;
  background: none;
  border: none;
  border: 2px solid var(--fourth-color);
  color: var(--text-color);
  margin-bottom: 25px;
}

.col-2 textarea:focus {
  border: 2px solid var(--form-focus);
}

.col-2 #photo {
  border-bottom: none;
  text-align: center;
  display: none;
}

.photo-upload {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.photo-upload svg,
.photo-upload p {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.photo-upload svg:hover {
  color: var(--secondary-color);
}

.photo-upload svg {
  font-size: 1.1rem;
  color: var(--text-color);
}

.live input {
  margin-bottom: 18px;
}

.live label {
  margin-bottom: 8px;
}

.live input {
  outline: none;
  border: none;
  color: var(--text-color);
  background: none;
  border-bottom: 2px solid var(--fourth-color);
  height: 25px;
}

.live input:focus {
  outline: none;
  border-bottom: 3px solid var(--form-focus);
}

.wrapper .preview {
  background-color: var(--form-bg);
}

.one {
  background-color: aqua;
}

.two {
  background-color: #ffb200;
}
