@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
  --main-bg: #e6e1d6;
  --form-bg: #fff;
  --secondary-color: #00fe82;
  --third-color: #141824;
  --fourth-color: #2a3449;
  --form-focus: #6178aa;
  --accent-color: #ffb200;
  --icons-preview-color: #c80956;
  --text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--form-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--fourth-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--form-focus);
}

/*--General Info--*/

.wrapper {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  column-gap: 100px;
  row-gap: 0;
  padding: 30px 80px 30px 80px;
}

.main-wrapper div:first-child {
  padding-bottom: 0;
}

.main-wrapper div:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0;
}

.main-wrapper div:nth-child(3) {
  padding-top: 0;
}

/*--Live--*/

.live {
  background-color: var(--third-color);
  padding: 25px;
  color: var(--secondary-color);

  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;

  min-width: 520px;
}

.preview {
  font-family: 'Lato', sans-serif;

  min-width: 700px;
  max-width: 1000px;
}

.general-info {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
}

.general-info h2 {
  color: var(--text-color);
  border-bottom: 2px dashed var(--form-focus);
  padding-bottom: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.general-info h2 svg {
  cursor: pointer;
  color: var(--accent-color);
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-1-col-2 {
  display: flex;
  justify-content: space-between;
}

.col-2 textarea {
  resize: none;
  outline: none;
  background: none;
  border: none;
  border: 2px solid var(--fourth-color);
  color: var(--text-color);
  margin-bottom: 25px;
  padding: 5px;
}

#description::-webkit-scrollbar {
  width: 3px;
}

#description::-webkit-scrollbar-track {
  background-color: var(--form-bg);
}

#description::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

#description::-webkit-scrollbar-thumb:hover {
  background-color: var(--form-focus);
}

.col-2 textarea:focus {
  border: 2px solid var(--form-focus);
}

.col-2 #photo {
  border-bottom: none;
  text-align: center;
  display: none;
}

.photo-upload {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.photo-upload svg,
.photo-upload p {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.photo-upload svg:hover {
  color: var(--secondary-color);
}

.photo-upload svg {
  font-size: 1.1rem;
  color: var(--text-color);
}

.live input {
  margin-bottom: 18px;
}

.live label {
  margin-bottom: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--third-color) inset;
  box-shadow: 0 0 0px 1000px var(--third-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.live input {
  outline: none;
  border: none;
  color: var(--text-color);
  background: none;
  border-bottom: 2px solid var(--fourth-color);
  height: 25px;
}

.live input:focus {
  outline: none;
  border-bottom: 3px solid var(--form-focus);
}

/*--Preview--*/

.wrapper .preview {
  background-color: var(--form-bg);
  padding: 25px;
  min-width: 500px;
  position: relative;
}

.preview-general .row-1 {
  display: flex;
}

.photo-section img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 12.5px;
  right: 40px;
  border-radius: 100px 100px 100px 100px;

  -webkit-box-shadow: 0px 0px 14px -1px #242424;
  box-shadow: 0px 0px 14px -1px #252525;

  z-index: 1;
}

.photo-section .photo-dec-tri-2 {
  width: 100px;
  height: 100px;
  background-color: var(--third-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-10deg);
  position: absolute;
  top: 50px;
  right: 20px;

  z-index: 0;
}

.photo-section .photo-dec-tri {
  width: 180px;
  height: 180px;
  background-color: var(--secondary-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  position: absolute;
  top: 15px;
  right: 30px;

  z-index: 0;
}

.name-section h2 {
  font-family: 'Italiana', serif;
  font-size: 2.3rem;

  margin-top: 15px;
}

.name-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.address-contact svg {
  color: var(--icons-preview-color);
}

.address-contact {
  position: absolute;
}

.name-title p:nth-child(2) {
  color: var(--text-color);
  background-color: var(--third-color);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.phone,
.email,
.address {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
}

.preview h3 {
  font-family: 'Krona ', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--icons-preview-color);
}

.row-2 {
  position: absolute;
  padding-right: 25px;
  top: 200px;
}

/*-- Education --*/

.edu {
  display: flex;
  justify-content: space-between;
}

.edu-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.edu-buttons button {
  outline: none;
  border: none;

  padding: 5px 0px 5px 0px;
  font-weight: bold;
  cursor: pointer;

  color: var(--third-color);
  background-color: var(--secondary-color);

  transition: 0.2s ease-in-out;
}

.edu-buttons button:hover {
  opacity: 0.7;
}

.row-1 .uni {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-top: 5px;
}

.row-1 .uni h4 {
  font-size: 1.2rem;
}

.extra-info {
  margin-top: 5px;
}

.programme-degree {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.programme-degree h6 {
  font-size: 1.2rem;
}

.one-edu-entry {
  border-top: 2px dotted var(--third-color);
  border-bottom: 2px dotted var(--third-color);
  padding-bottom: 6px;

  z-index: 1;
}

.preview-educational p {
  font-size: 1.1rem;
}

.preview-educational {
  position: relative;
}

.decoration {
  opacity: 0.2;
}

.decoration.x {
  position: absolute;
  z-index: 0;
  top: 25px;
  left: 25px;

  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );

  background-color: var(--secondary-color);
  width: 200px;
  height: 200px;
}

.decoration.o {
  position: absolute;
  z-index: 0;
  top: 80px;
  right: 130px;

  clip-path: circle(50% at 50% 50%);

  background-color: var(--secondary-color);
  width: 90px;
  height: 90px;
}

.decoration.t {
  position: absolute;
  z-index: 0;
  top: 130px;
  right: 25px;

  clip-path: circle(50% at 50% 50%);

  background-color: var(--secondary-color);
  width: 140px;
  height: 140px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
